<app-header></app-header>
<section class="container caja-principal mb-3 p-3 bg-container">
  <div class="row">
    <div class="col-6 text-center">
      <h5>sku</h5>
      <p-dropdown
        #selectSku
        (onChange)="onChangeSku($event)"
        [options]="sku"
        [(ngModel)]="selectedSku"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione"
      ></p-dropdown>
    </div>
    <div class="col-6 text-center">
      <h5>Moneda</h5>
      <p-dropdown
        #selectCurrency
        (onChange)="onChangeCurrency($event)"
        [options]="currency"
        [(ngModel)]="selectedCurrency"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione"
      ></p-dropdown>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
