<app-header></app-header>
<section class="container caja-principal mb-3 p-3 bg-container">
  <div class="row">
    <div class="col-6 text-center mb-3">
      <h5>sku</h5>
      <p-dropdown
        #selectSku
        (onChange)="onChangeSku($event)"
        [options]="sku"
        [(ngModel)]="selectedSku"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione"
      ></p-dropdown>
    </div>
    <div class="col-6 text-center mb-3">
      <h5>Moneda</h5>
      <p-dropdown
        #selectCurrency
        (onChange)="onChangeCurrency($event)"
        [options]="currency"
        [(ngModel)]="selectedCurrency"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione"
      ></p-dropdown>
    </div>
    <div class="col-12">
      <form class="row mb-3 p-2" *ngFor="let product of listsProducts">
        <div class="col-12 form-group mb-3">
          <label for="nameProduct">Cantidad de Producto</label>
          <input class="form-control" type="text" [value]="product.count" />
        </div>
        <div class="col-6 form-group mb-3">
          <label for="nameProduct">Nombre Producto</label>
          <input class="form-control" type="text" [value]="product.name" />
        </div>
        <div class="col-6 form-group mb-3">
          <label for="nameProduct">Precio</label>
          <input
            class="form-control"
            type="text"
            [value]="product.price | currency"
          />
        </div>
        <div class="col-6 form-group mb-3">
          <label for="nameProduct">Tasa de descuento</label>
          <input
            class="form-control"
            type="text"
            [value]="product.taxRate + '%'"
            [disabled]="true"
          />
        </div>
        <div class="col-6 form-group mb-3">
          <label for="nameProduct">Valor con descuento</label>
          <input
            class="form-control"
            type="text"
            [value]="
              product.price - product.price * (product.taxRate / 100) | currency
            "
            [disabled]="true"
          />
        </div>
        <div class="col-12 form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            [id]="product.name"
            (change)="onClick(product.name)"
            [checked]="product.isSelected"
          />
          <label class="form-check-label" for="exampleCheck1"
            >Tasa de cambio personalizada</label
          >
        </div>
        <div class="col-12 form-group mb-3" *ngIf="product.isSelected">
          <label for="valueTasa">Valor Tasa</label>
          <input
            id="{{ product.name + 'Value' }}"
            class="form-control"
            type="number"
          />
        </div>
        <button
          *ngIf="product.isSelected"
          type="button"
          class="btn btn-primary"
          (click)="onClickUpdate(product)"
        >
          Actualizar
        </button>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
